<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <meta content="description" name="In this tutorial, we take a look at a beautiful parallax scrolling effect in the simplest of ways, with stationary backgrounds and scrolling content.">

  <title>Sport and Politics</title>

  <!-- css -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- js -->
  <script src="js/modernizr.js"></script>
</head>

<body>

<div class="wrapper">

  <main>
      
      <section class="module parallax parallax-1">
        <div class="container">
          <h1>$12,741,<span class="count">577</span></h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2 align=center>Total Political Donations Made by NFL Teams</h2>
          <br></br>
          <h2>Playing in one of the National Football League's 32 teams is seen as a lucrative job. Players can expect contracts worth hundreds of thousands if not millions. The owners of sports teams too are wealthy, with most belonging to the 0.1% of society. </h2>
          <h2>The chart shows the amount donated by each team. Most donate around the same anoumt but one Texan squad is in another league.</h2>
          
          </div>
          
        
         <div id="secondcontainer" align=center>
          <img src="img/chart.png"/>
           
        </div>
      <div class="container">
          <h2>The reason for this is the owner Robert McNAir who donated the majority of the amount. He himself has given even more to politics on the side that he has not affiliated with the Houstan Texans. The total amount of his individual contribution is $9,008,750.</h2>
           <h2>In total three team owners donated over one million dollars. The other two are Alex Spanos of the San Diego Chargers ($6,034,633) and Robert Kraft of the New England Patriots ($1,267,400). The team owner who gave the least was the Tampa Bay Buccaneers owner Malcolm Glazer who only gave $1,000 to politcs. </h2>
           <h2>The vast majority of donations made by owners are to the Republican party. 

        </div>
      </section>

      <section class="module parallax parallax-2">
        <div class="container">
          <h1></h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2>There are only 9 current players who have made a political donations. Jason Phillips who plays for the Philadelphia Eagles was the only player to donate to a Republican candidate. He gave $5,000 to Roger Williams. </h2>
           <h2>The player who donated the most was Vernon Davis from wthe San Francisco 49ers who gave a total of $12,700 to Barack Obama, Rohit Khanna and Mike Honda. He is also the player who donated the most number of times. </h2>
        </div>
      </section>

      <section class="module parallax parallax-3">
        <div class="container">
          <h1></h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2 align=center>Breakdown of Donations</h2>
          <h2>The total team amount donated by each team includes donations made by employees irrespective of department. Coaches and minority team owners, as well as financial officers donate most frequently and in particular to the GRIDIRON PAC.</h2>
      
        </div>
        <div id="container" align=center>
          <!-- <div class="sns-container">
          <div class="sns-name">78</div>
          <img src="broken.jpg"/>
          <div class="name">Social Media</div>
          <div class="rank">Top 7</div>
          <div class="visitors">X million</div>
          </div> -->
        </div>

  <!--<a href="#" title="That&apos;s what this widget is">hi</a>-->

        <script id="sns-template" type="text/jst" a href="#overlay" id="open-overlay">
          <div class="sns-container" href="#">
            <div class="sns-name-container">
              <img src="img/demo/football/<%= image %>"/>
            </div>
            <div class="info-container" id="accordion">
              <div class="team"><%= boldName (toUpperCase(team)) %></div>
              <div class="amount">$<%= addCommas(amount) %></div>
              <div class="owner">Owner: <%= boldName(owner) %></div>
              <div class="player"> Current players:     <%= boldName(player) %></div>
              <div class="secondplayer"><%= secondplayer %></div>
            </div>
          </div>

  </script>
      </section>

      
      
    

      

  </main><!-- /main -->

  <footer>
    <div class="container">
      </div>
      <div class="copyright">
        <small>
          &copy; 2015, Noele Illien
        </small>
      </div>
    </div>
  </footer><!-- /footer -->
  
</div><!-- /#wrapper -->

<!-- ads -->

<!-- analytics -->


<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34160351-1']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

<!-- counter up-->


<script type="text/javascript">


</script>


</body>
 <script src="js/jquery-1.11.2.min.js"></script>
  <script src="js/d3.v3.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/main.js"></script>
</html>